<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <input type="button" onclick="exportExcel()" value="导出Excel" class="btn btn-sm btn-success"
                           style="margin-top: -3px;"/>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        条件检索
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h3 class="box-title">日期范围</h3>
                                    <input type="text" id="dateRange" class="form-control" style="width: 249px;display: inline;">
                                    <h3 class="box-title" style="margin-left: 12px;">关键字</h3>
                                    <input type="text" class="form-control" id="key" placeholder="电子文件后缀" style="width: 300px;display: inline;"/>
                                    <input type="text" class="form-control" id="tit" placeholder="电子文件名称" style="width: 300px;display: inline;"/>
                                    <input type="hidden" id="sql">
                                    <input type="text" class="form-control" id="err" placeholder="错误信息" style="width: 300px;display: inline;"/>
                                    <input type="button" id="reget" value="查看" class="btn btn btn-primary"
                                           style="margin-top: -3px;"/>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">
                                        显示字段
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div>
                                        <input type="checkbox" id="ch0" value="dataly" checked style="margin-left: 5px">数据来源
                                        <input type="checkbox" id="ch1" value="efilepath" checked style="margin-left: 5px">文件路径
                                        <input type="checkbox" id="ch2" value="efilepathresult" checked style="margin-left: 5px">文件路径检测结果
                                        <input type="checkbox" id="ch3" value="efilename" checked style="margin-left: 5px">文件名称
                                        <input type="checkbox" id="ch4" value="efilenameResult" checked style="margin-left: 5px">文件名称检测结果
                                        <input type="checkbox" id="ch5" value="efilesize" checked style="margin-left: 5px">文件大小
                                        <input type="checkbox" id="ch6" value="wjzt" checked style="margin-left: 5px">文件状态
                                        <input type="checkbox" id="ch7" value="efilegs" checked style="margin-left: 5px">文件格式
                                        <input type="checkbox" id="ch8" value="sc" checked style="margin-left: 5px">时长
                                        <input type="checkbox" id="ch9" value="spml" checked style="margin-left: 5px">视频码率
                                        <input type="checkbox" id="ch10" value="btl" checked style="margin-left: 5px">比特率
                                        <input type="checkbox" id="ch11" value="cyl" checked style="margin-left: 5px">采样率
                                        <input type="checkbox" id="ch12" value="fbl" checked style="margin-left: 5px">分辨率
                                        <input type="checkbox" id="ch13" value="xs" checked style="margin-left: 5px">像素
                                        <input type="checkbox" id="ch14" value="title" checked style="margin-left: 5px">所属文件题名
                                        <input type="checkbox" id="ch15" value="keyword" checked style="margin-left: 5px">所属文件档号
                                        <input type="checkbox" id="ch16" value="createtime" checked style="margin-left: 5px">操作时间
                                        <input type="checkbox" id="ch17" value="libname" checked style="margin-left: 5px">档案类型
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="efileTable" class="table table-bordered table-striped dataTable nowrap">
                        <thead>
                        <tr>
                            <th>数据来源</th>
                            <th>文件路径</th>
                            <th>文件路径检测结果</th>
                            <th>文件名称</th>
                            <th>文件名称检测结果</th>
                            <th>文件大小</th>
                            <th>文件状态</th>
                            <th>文件格式</th>
                            <th>时长</th>
                            <th>视频码率</th>
                            <th>比特率</th>
                            <th>采样率</th>
                            <th>分辨率</th>
                            <th>像素</th>
                            <th>所属文件题名</th>
                            <th>所属文件档号</th>
                            <th>操作时间</th>
                            <th>档案类型</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script>
    $(document).ready(function() {
        laydate.render({
            elem: '#dateRange'
            ,type: 'datetime'
            ,range: '~'
        });

        var table = $('#efileTable').DataTable( {
            dom: 'Blfrtip',
            "colReorder": true,
            stateSave: true,
            stateDuration: 0,//Use localStorage,-1使用sessionStorage
            stateSaveCallback: function(settings,data) {
                localStorage.setItem( 'DataTables_' + settings.sInstance, JSON.stringify(data) )
            },
            stateLoadCallback: function(settings) {
                return JSON.parse( localStorage.getItem( 'DataTables_' + settings.sInstance ) )
            },
            buttons: [
                {
                    extend: 'colvis',
                    text: '显示字段',
                    collectionLayout: 'fixed four-column'
                },
                { text: '重置字段状态',   action: function () {table.state.clear();window.location.reload();} },
            ],
            "ajax": {
                "url": "/zky/check/getCheckData",
                "data": function ( d ) {
                    d.arcLvl = "efile";
                    d.whereStr = $("#dateRange").val();
                    d.ifHistory = "0";
                    d.whereSql = $("#sql").val();
                    d.whereErr = $("#err").val();
                },
                "type":"post"
            },
            "serverSide": true,
            columnDefs: [
                { targets: [1,4], width:"200px",render: $.fn.dataTable.render.ellipsis( 30, true )}
            ],
            "columns": [
                { "data": "dataly" },
                { "data": "efilepath" },
                { "data": "efilepathresult" },
                { "data": "efilename" },
                { "data": "efilenameResult" },
                { "data": "efilesize" },
                { "data": "wjzt" },
                { "data": "efilegs" },
                { "data": "sc" },
                { "data": "spml" },
                { "data": "btl" },
                { "data": "cyl" },
                { "data": "fbl" },
                { "data": "xs" },
                { "data": "title" },
                { "data": "keyword" },
                { "data": "createtime" },
                { "data": "libname" }
            ],
            "language": {
                url:'/bower_components/datatables.net/chinese.json'
            },
            'paging'      : true,
            'lengthChange': true,
            'searching'   : false,
            'ordering'    : true,
            'autoWidth'   : true,
            "processing": true,
            "order": [[ 16, "desc" ]],
            "scrollX": true
        } );
        $("#reget").click(function () {
            setSql();
            table.draw();
        });
    } );
    function setSql() {
        var key = $("#key").val();
        var tit = $("#tit").val();
        var sql = "";
        if(key!=""){
            if(sql!=""){
                sql = sql+" or ";
            }
            sql = sql+"efilepath like '%25"+key+"%25'";
        }
        if(tit!=""){
            if(sql!=""){
                sql = sql+" or ";
            }
            sql = sql+"title like '%25"+tit+"%25'";
        }
        $("#sql").val(sql);
    }
    function exportExcel() {
        setSql();
        var whereStr = $("#dateRange").val();
        var sql = $("#sql").val();
        var err = $("#err").val();
        var thArr = $("#efileTable th");
        var displayFie = "";
        for(var i=0;i<thArr.length;i++){
            var ariaLabel = thArr[i].getAttribute("aria-label");
            var text = ariaLabel.split(": ")[0];
            displayFie = displayFie+text+"@";
        }
        window.location.href = "/zky/exportExcel/log?manu=efile&arcLvl=efile&ifHistory=0&whereStr="+whereStr+"&whereSql="+sql+"&whereErr="+err+"&displayFie="+displayFie;
    }
</script>