<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unis.zkydatadetection.mapper.detectionconfigMapper" >
  <resultMap id="BaseResultMap" type="com.unis.zkydatadetection.model.detectionconfig" >
    <id column="syscode" property="syscode" jdbcType="VARCHAR" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="ajkeyword" property="ajkeyword" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="projecttype" property="projecttype" jdbcType="VARCHAR" />
    <result column="datetype" property="datetype" jdbcType="VARCHAR" />
    <result column="rqgs" property="rqgs" jdbcType="VARCHAR" />
    <result column="tsfh" property="tsfh" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    syscode, tablename, ajkeyword, keyword, version, projecttype, datetype, rqgs, tsfh, 
    createtime, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_detectionconfig
    where syscode = #{syscode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_detectionconfig
    where syscode = #{syscode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.unis.zkydatadetection.model.detectionconfig" >
    insert into s_detectionconfig (syscode, tablename, ajkeyword, 
      keyword, version, projecttype, 
      datetype, rqgs, tsfh, 
      createtime, status, remark
      )
    values (#{syscode,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, #{ajkeyword,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{projecttype,jdbcType=VARCHAR}, 
      #{datetype,jdbcType=VARCHAR}, #{rqgs,jdbcType=VARCHAR}, #{tsfh,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unis.zkydatadetection.model.detectionconfig" >
    insert into s_detectionconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="syscode != null" >
        syscode,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="ajkeyword != null" >
        ajkeyword,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="projecttype != null" >
        projecttype,
      </if>
      <if test="datetype != null" >
        datetype,
      </if>
      <if test="rqgs != null" >
        rqgs,
      </if>
      <if test="tsfh != null" >
        tsfh,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="syscode != null" >
        #{syscode,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="ajkeyword != null" >
        #{ajkeyword,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="projecttype != null" >
        #{projecttype,jdbcType=VARCHAR},
      </if>
      <if test="datetype != null" >
        #{datetype,jdbcType=VARCHAR},
      </if>
      <if test="rqgs != null" >
        #{rqgs,jdbcType=VARCHAR},
      </if>
      <if test="tsfh != null" >
        #{tsfh,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unis.zkydatadetection.model.detectionconfig" >
    update s_detectionconfig
    <set >
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="ajkeyword != null" >
        ajkeyword = #{ajkeyword,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="projecttype != null" >
        projecttype = #{projecttype,jdbcType=VARCHAR},
      </if>
      <if test="datetype != null" >
        datetype = #{datetype,jdbcType=VARCHAR},
      </if>
      <if test="rqgs != null" >
        rqgs = #{rqgs,jdbcType=VARCHAR},
      </if>
      <if test="tsfh != null" >
        tsfh = #{tsfh,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where syscode = #{syscode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unis.zkydatadetection.model.detectionconfig" >
    update s_detectionconfig
    set tablename = #{tablename,jdbcType=VARCHAR},
      ajkeyword = #{ajkeyword,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      projecttype = #{projecttype,jdbcType=VARCHAR},
      datetype = #{datetype,jdbcType=VARCHAR},
      rqgs = #{rqgs,jdbcType=VARCHAR},
      tsfh = #{tsfh,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where syscode = #{syscode,jdbcType=VARCHAR}
  </update>
</mapper>